In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import requests

In [114]:
merch_expo_wld_df = pd.read_csv('DATA_HS_Total_All_Merchandise_Exports_to_World.csv')
gdp_df = pd.read_csv('gdp_csv.csv')
gdp_df.head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [87]:
# afg_df = gdp_df[gdp_df['Country Name']=='Albania']
# afg_df['Value'].mean()
merch_expo_wld_df.head()

,Item,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,TOTAL,1148198722191,1287441996730,1056042963028,1278494525839,1482507755226,1545820839892,1578516879950,1621873792910,1503328349746,1451023529686,1546272961061
1,84--NUCLEAR REACTORS; BOILERS; MACHINERY ETC.;...,179294453398,190627440227,153159958043,182902860899,205826159717,215180487807,213440918266,219935033494,206322326264,190729618046,202035662651
2,85--ELECTRIC MACHINERY ETC; SOUND EQUIP; TV EQ...,147811354753,152466732455,124817076765,151776704354,159468543383,162434694242,165818048345,172372237084,170010926769,167127172860,174424000525
3,27--MINERAL FUEL; OIL ETC.; BITUMIN SUBST; MIN...,42247963045,76940267425,55059238358,81692031854,130566667652,137332528657,148902536669,156447655504,104781536243,93792948050,139025423812
4,88--AIRCRAFT; SPACECRAFT; AND PARTS THEREOF,83882874225,84376185197,82977746555,79617922992,87757246448,104440079691,114886824530,125235692852,131661791153,134738835356,131143849163

In [110]:
merch_expo_wld_df['mean'] = merch_expo_wld_df.loc[:, '2007':'2017'].mean(axis=1)
merch_expo_wld_df_sortedby_mean = merch_expo_wld_df.sort_values(by=['mean'],ascending = False)
merch_expo_wld_df_sortedby_mean.head(15)

,Item,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,mean
0,TOTAL,1148198722191,1287441996730,1056042963028,1278494525839,1482507755226,1545820839892,1578516879950,1621873792910,1503328349746,1451023529686,1546272961061,1.409047e+12
1,84--NUCLEAR REACTORS; BOILERS; MACHINERY ETC.;...,179294453398,190627440227,153159958043,182902860899,205826159717,215180487807,213440918266,219935033494,206322326264,190729618046,202035662651,1.963141e+11
2,85--ELECTRIC MACHINERY ETC; SOUND EQUIP; TV EQ...,147811354753,152466732455,124817076765,151776704354,159468543383,162434694242,165818048345,172372237084,170010926769,167127172860,174424000525,1.589570e+11
5,87--VEHICLES; EXCEPT RAILWAY OR TRAMWAY; AND P...,107212566719,111697565311,73668555474,99148692588,120011780504,133078052912,134090149318,136021619352,127366637466,124565895657,130179115971,1.179128e+11
3,27--MINERAL FUEL; OIL ETC.; BITUMIN SUBST; MIN...,42247963045,76940267425,55059238358,81692031854,130566667652,137332528657,148902536669,156447655504,104781536243,93792948050,139025423812,1.060717e+11
4,88--AIRCRAFT; SPACECRAFT; AND PARTS THEREOF,83882874225,84376185197,82977746555,79617922992,87757246448,104440079691,114886824530,125235692852,131661791153,134738835356,131143849163,1.055199e+11
6,90--OPTIC; PHOTO ETC; MEDIC OR SURGICAL INSTRM...,65216983434,69381093602,65057411901,73960066842,79383778894,83367062357,84344595248,84976081299,83433294101,82015375908,83637978332,7.770670e+10
8,71--NAT ETC PEARLS; PREC ETC STONES; PR MET ET...,40558008822,51166311443,38614430933,52137973983,72611396268,72995044704,72487187993,64895550289,58743796978,57780786388,60253337777,5.838580e+10
7,39--PLASTICS AND ARTICLES THEREOF,48003056210,51361149796,42854069521,53625263449,58743604827,59006434035,61045249532,63121681924,60347504335,58626886998,61892626784,5.623887e+10
9,30--PHARMACEUTICAL PRODUCTS,29242542860,34211517175,40667260295,40788229885,38341460576,40129282726,39707839099,44029852598,47094047494,46830921495,44935704396,4.054351e+10
11,29--ORGANIC CHEMICALS,37936666628,38109148313,31048792245,40928206521,45682439840,46079294886,46599579308,42318345857,38703088261,33953422143,36318003565,3.978882e+10
10,98--SPECIAL CLASSIFICATION PROVISIONS; NESOI,31374368135,35267291335,29479283068,40373871929,39377993433,40638745115,42140058914,43260077278,41444087333,40131277417,42436580208,3.872033e+10
12,38--MISCELLANEOUS CHEMICAL PRODUCTS,18155225951,22434368521,18143226125,21197592716,23881041834,25327714357,27030926329,27264556313,25916666317,25316196080,27664602897,2.384837e+10
13,12--OIL SEEDS ETC.; MISC GRAIN; SEED; FRUIT; P...,12662355229,18599268586,19529176802,21959179277,21231783916,29688506908,26955408692,28876576254,23599314814,27720878482,26381826329,2.338221e+10
14,10--CEREALS,21099115363,28905739423,17380512449,20036820271,28347941016,20616227140,20301036516,22825948714,18816090753,18939843118,18605959202,2.144320e+10

In [108]:
gpbycountry_gdp

In [63]:
#gdp_df[gdp_df['Country Name']=='China']
gpbycountry_gdp = gdp_df.groupby(['Country Name','Year'], as_index=False)

In [74]:
ls = gpbycountry_gdp.mean().groupby('Country Name')['Value'].mean()

In [88]:
ls_sorted=ls.sort_values(ascending=False)
ls_sorted.head(40)

Country Name
World                                                   2.609594e+13
High income                                             1.950705e+13
OECD members                                            1.926956e+13
Post-demographic dividend                               1.852443e+13
Europe & Central Asia                                   8.631478e+12
North America                                           7.392049e+12
European Union                                          7.251568e+12
IDA & IBRD total                                        6.816739e+12
United States                                           6.773384e+12
Low & middle income                                     6.606986e+12
Middle income                                           6.493593e+12
IBRD only                                               6.324996e+12
East Asia & Pacific                                     6.267936e+12
Euro area                                               5.403937e+12
Upper middle income                                     4.994671e+12
Late-demographic dividend                               4.195436e+12
Early-demographic dividend                              2.885320e+12
Japan                                                   2.664704e+12
East Asia & Pacific (excluding high income)             2.354668e+12
East Asia & Pacific (IDA & IBRD countries)              2.350046e+12
Europe & Central Asia (IDA & IBRD countries)            2.139533e+12
Germany                                                 1.903455e+12
Europe & Central Asia (excluding high income)           1.857010e+12
China                                                   1.790503e+12
Latin America & Caribbean                               1.786332e+12
Latin America & the Caribbean (IDA & IBRD countries)    1.705881e+12
Latin America & Caribbean (excluding high income)       1.639610e+12
Lower middle income                                     1.631032e+12
France                                                  1.154819e+12
United Kingdom                                          1.137233e+12
Middle East & North Africa                              1.049231e+12
Italy                                                   9.269435e+11
Russian Federation                                      8.984766e+11
Middle East & North Africa (excluding high income)      8.631208e+11
Middle East & North Africa (IDA & IBRD countries)       8.566019e+11
Arab World                                              8.134380e+11
Central Europe and the Baltics                          8.077432e+11
South Asia (IDA & IBRD)                                 6.503901e+11
South Asia                                              6.503901e+11
Brazil                                                  6.344580e+11
Name: Value, dtype: float64

In [89]:
list_of_top_countries = ['United States','Japan','Germany','China','France','United Kingdom','Italy','Russian Federation','Brazil']

In [115]:
df = pd.read_csv("2011_us_ag_exports.csv")
df.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95

In [118]:
import plotly
plotly.tools.set_credentials_file(username='8135tao', api_key='wyGWY4LmNGNohXtJ3vmo')

In [119]:
import plotly.plotly as py


for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

df['text'] = df['state'] + '<br>' +\
    'Beef '+df['beef']+' Dairy '+df['dairy']+'<br>'+\
    'Fruits '+df['total fruits']+' Veggies ' + df['total veggies']+'<br>'+\
    'Wheat '+df['wheat']+' Corn '+df['corn']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['code'],
        z = df['total exports'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
        colorbar = dict(
            title = "Millions USD"
        )
    ) ]

layout = dict(
        title = '2011 US Agriculture Exports by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

fig = dict(data=data, layout=layout)

#url = py.plot(fig, filename='d3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~8135tao/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [120]:
py.iplot(fig, filename = 'd3-cloropleth-map')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~8135tao/0 or inside your plot.ly account where it is named 'd3-cloropleth-map'

In [121]:
df.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton,text
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61,Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.0,0.6,1.0,1.56,0.0,0.0,0.0,Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95,Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44,Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.4,803.2,1303.5,2106.79,34.6,249.3,1064.95,California<br>Beef 228.7 Dairy 929.95<br>Frui...

In [125]:
data[0].keys()

dict_keys(['type', 'colorscale', 'autocolorscale', 'locations', 'z', 'locationmode', 'text', 'marker', 'colorbar'])